:root {
  --beige: #e7d8c9;
  --white-smoke: #ece4db;
  --light-tan: #fff1e6;
  --tan: #e6beae;
  --light-turquoise: #cbf3f0;
  --turquoise: #64dfdf;
  --light-blue: #4cc9f0;
  --blue: #00bbf9;
  --red: #ff0a54;
  --light-grey: #b7cadb;
  --grey: #555b6e;
  --charcoal: #2f3e46;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--charcoal);
  font-weight: 400;
  line-height: 1.6;
  background-image: var(--white-smoke);
}

.content-container {
  padding: 0 2.4rem;
  margin: 0 auto;
}

.widen {
  max-width: 114rem;
}

.confine {
  max-width: 57rem;
}

.flash {
  position: fixed;
  left: 2rem;
  bottom: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 2rem;
  background-color: var(--light-tan);
  border: 1px solid var(--tan);
  border-radius: 0.6rem;
  box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.06);
}

header {
  margin-bottom: 3.2rem;
  padding: 0.5rem 0;
  background-color: var(--light-tan);
}

header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .content .title {
  font-family: "Damion", cursive;
  color: inherit;
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
}

header .content .btn-container .btn {
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  background-color: var(--tan);
}

header .content .btn-container .btn:hover {
  background-color: var(--light-tan);
}

header .content .btn-container .btn:not(:last-child) {
  margin-right: 1rem;
}

.form-container {
  margin-bottom: 3.2rem;
  padding: 0.5rem 0;
}

.form-container .content .heading {
  font-size: 2rem;
  color: var(--grey);
}

.form-container .content .heading a {
  text-decoration: none;
  color: var(--blue);
}

.form-container .content .title {
  font-size: 3rem;
}

.form-container .content .btn {
  cursor: pointer;
  width: 100%;
  border: none;
  border-radius: 0.6rem;
  font: inherit;
  color: #fff;
  font-size: 1.8rem;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
}

.form-container .content .btn:hover {
  background-color: var(--light-blue);
}

.form-container .content .form-group {
  margin: 1rem 0;
}

.form-container .content .form-group label {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
}

.form-container .content .form-group input {
  width: 100%;
  font: inherit;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  border: 0.1rem solid var(--beige);
  border-radius: 0.6rem;
  padding: 0.5rem;
}

.form-container .content .error {
  margin: 1rem 0;
  color: var(--red);
  font-size: 1.8rem;
  font-weight: bold;
  border: 0.1rem solid var(--red);
  border-radius: 0.6rem;
  padding: 0.5rem;
}

input[type="file"]::file-selector-button {
  font: inherit;
  text-transform: capitalize;
  background-color: var(--light-turquoise);
  border: 1px solid var(--turquoise);
  padding: 0.2rem 0.4rem;
  border-radius: 0.6rem;
}

.gallery-container {
  margin-bottom: 3.2rem;
  padding: 0.5rem 0;
}

.gallery-container .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.gallery-container .content .message {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container .content .message h2 {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  background-color: var(--light-tan);
}

.gallery-container .content .item {
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.gallery-container .content .item p {
  position: absolute;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: var(--light-tan);
  opacity: 0.7;
}

.gallery-container .content .item:hover p {
  opacity: 0.9;
}

.gallery-container .content .item img {
  width: 100%;
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.gallery-container .content .item:hover img {
  cursor: pointer;
  transform: scale(1.5);
}

.image-container {
  margin-bottom: 3.2rem;
  padding: 0.5rem 0;
}

.image-container .content .message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container .content .message h2 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  background-color: var(--light-tan);
}

.image-container .content img {
  width: 100%;
  display: block;
}

.image-container .content p {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--light-tan);
}

.image-container .content p:not(:last-child) {
  border-bottom: 0.1rem solid var(--tan);
}

.image-container .content p span {
  color: var(--grey);
}

.image-container .content p a {
  text-decoration: none;
  color: var(--blue);
}

.image-container .content p a:hover {
  color: var(--light-blue);
}

.gallery-container .content .title {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container .content .title h2 {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  padding: 1rem 2rem;
  color: var(--grey);
  background-color: var(--light-grey);
}
