{{define "images/show"}}
<section class="image-container">
  <div class="content-container confine">
    <div class="content">
      {{if .Error}}
      <div class="message">
        <h2>{{.Error}}</h2>
      </div>
      {{else}}
      <img src="{{.Image.StaticRoute}}" />
      <p>
        <span>By</span> <a href="{{.User.ImagesRoute}}">{{.User.Username}}</a>
      </p>
      <p><span>Uploaded on</span> {{.Image.CreatedAt.Format "Jan 02, 2006"}}</p>
      {{if .Image.Description}}
      <p>{{.Image.Description}}</p>
      {{end}} {{end}}
    </div>
  </div>
</section>
{{end}}
